In [35]:
import requests
import json
import pandas as pd
import hvplot.pandas
import quiverquant
from datetime import datetime
import yfinance as yf
import numpy as np

In [36]:
quiver = quiverquant.quiver("c28eacfdf71675aa0dcad7feaa75eedfff51c547")
senate_party_df = quiver.senate_trading()

In [37]:
 def senate_trading(ticker=""):
        if len(ticker)>0:
            url = "https://api.quiverquant.com/beta/historical/senatetrading/"+ticker
        else:
            url = "https://api.quiverquant.com/beta/live/senatetrading"
        
        headers = {'accept': 'application/json',
'X-CSRFToken': 'TyTJwjuEC7VV7mOqZ622haRaaUr0x0Ng4nrwSRFKQs7vdoBcJlK9qjAS69ghzhFu',
'Authorization': 'Token c28eacfdf71675aa0dcad7feaa75eedfff51c547'}
        r = requests.get(url, headers=headers)
        j = json.loads(r.content)
        df = pd.DataFrame(j)
        df["Date"] = pd.to_datetime(df["Date"])
        return df

In [38]:

senate_dem = senate_party_df[senate_party_df["Party"]=="D"]
senate_dem_aapl = senate_dem[senate_dem["Ticker"]=="AAPL"]

In [39]:
aapl = yf.Ticker("AAPL")
aapl_hist = aapl.history(start="2020-01-01", end="2022-06-03")
display(aapl_hist)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-02,72.776226,73.847336,72.518279,73.785919,135480400,0.0,0.0
2020-01-03,72.999779,73.842413,72.840097,73.068565,146322800,0.0,0.0
2020-01-06,72.174352,73.690110,71.918857,73.650803,118387200,0.0,0.0
2020-01-07,73.660625,73.921031,73.080855,73.304413,108872000,0.0,0.0
2020-01-08,73.002229,74.790680,73.002229,74.483597,132079200,0.0,0.0
...,...,...,...,...,...,...,...
2022-05-26,137.389999,144.339996,137.139999,143.779999,90601500,0.0,0.0
2022-05-27,145.389999,149.679993,145.259995,149.639999,90978500,0.0,0.0
2022-05-31,149.070007,150.660004,146.839996,148.839996,103718400,0.0,0.0
2022-06-01,149.899994,151.740005,147.679993,148.710007,74286600,0.0,0.0
2022-06-02,147.830002,151.270004,146.860001,151.210007,72348100,0.0,0.0

In [40]:
senate_aapl = senate_trading("AAPL")

senate_aapl = senate_aapl[(senate_aapl['Date'] > '2020-01-01') & (senate_aapl['Date'] <= '2022-06-03')]

display(senate_dem_aapl.groupby(['Date', 'Senator','Transaction']).sum())

                                             Amount
Date       Senator            Transaction
2020-06-23 Wyden, Ron         Purchase      50001.0
2020-06-24 Wyden, Ron         Purchase      15001.0
2020-06-26 Wyden, Ron         Purchase      15001.0
2020-07-09 Carper, Thomas R.  Sale           1001.0
2020-08-07 Wyden, Ron         Purchase     100002.0
2020-08-27 Wyden, Ron         Purchase      50001.0
2020-09-02 Wyden, Ron         Purchase      50001.0
2020-11-20 Carper, Thomas R.  Sale          50001.0
2021-01-20 Wyden, Ron         Purchase       3003.0
2021-01-27 Wyden, Ron         Purchase       3003.0
2021-09-28 Carper, Thomas R.  Sale          15001.0
2021-10-29 Hickenlooper, John Sale         250001.0
2022-01-18 Carper, Thomas R.  Sale           1001.0
2022-02-24 Wyden, Ron         Purchase      50001.0
                              Sale          50001.0

In [41]:
senate_dem_aapl_close = senate_dem_aapl.merge(aapl_hist, left_on='Date', right_on='Date')
senate_dem_aapl_close.set_index('Date')
senate_dem_aapl_close['Amount'] = senate_dem_aapl_close['Amount'].astype(float)
senate_dem_aapl_close = senate_dem_aapl_close.drop(columns=['Range','Open','High','Low','Volume','Dividends','Stock Splits'])
display(senate_dem_aapl_close)

,Ticker,Date,Senator,Transaction,Amount,Party,Close
0,AAPL,2022-02-24,"Wyden, Ron",Purchase,50001.0,D,162.501251
1,AAPL,2022-02-24,"Wyden, Ron",Sale,50001.0,D,162.501251
2,AAPL,2022-01-18,"Carper, Thomas R.",Sale,1001.0,D,169.335144
3,AAPL,2021-10-29,"Hickenlooper, John",Sale,250001.0,D,149.172180
4,AAPL,2021-09-28,"Carper, Thomas R.",Sale,15001.0,D,141.315262
5,AAPL,2021-01-27,"Wyden, Ron",Purchase,1001.0,D,140.803070
6,AAPL,2021-01-27,"Wyden, Ron",Purchase,1001.0,D,140.803070
7,AAPL,2021-01-27,"Wyden, Ron",Purchase,1001.0,D,140.803070
8,AAPL,2021-01-20,"Wyden, Ron",Purchase,1001.0,D,130.861801
9,AAPL,2021-01-20,"Wyden, Ron",Purchase,1001.0,D,130.861801
10,AAPL,2021-01-20,"Wyden, Ron",Purchase,1001.0,D,130.861801
11,AAPL,2020-11-20,"Carper, Thomas R.",Sale,50001.0,D,116.301781
12,AAPL,2020-09-02,"Wyden, Ron",Purchase,50001.0,D,130.013062
13,AAPL,2020-08-27,"Wyden, Ron",Purchase,50001.0,D,123.690536
14,AAPL,2020-08-07,"Wyden, Ron",Purchase,50001.0,D,109.939720
15,AAPL,2020-08-07,"Wyden, Ron",Purchase,50001.0,D,109.939720
16,AAPL,2020-07-09,"Carper, Thomas R.",Sale,1001.0,D,94.571320
17,AAPL,2020-06-26,"Wyden, Ron",Purchase,15001.0,D,87.316933
18,AAPL,2020-06-24,"Wyden, Ron",Purchase,15001.0,D,88.904594
19,AAPL,2020-06-23,"Wyden, Ron",Purchase,50001.0,D,90.502151

In [42]:
print(senate_dem_aapl_close.groupby('Transaction').get_group('Purchase'))
print(senate_dem_aapl_close.groupby('Transaction').get_group('Sale'))

   Ticker       Date     Senator Transaction   Amount Party       Close
0    AAPL 2022-02-24  Wyden, Ron    Purchase  50001.0     D  162.501251
5    AAPL 2021-01-27  Wyden, Ron    Purchase   1001.0     D  140.803070
6    AAPL 2021-01-27  Wyden, Ron    Purchase   1001.0     D  140.803070
7    AAPL 2021-01-27  Wyden, Ron    Purchase   1001.0     D  140.803070
8    AAPL 2021-01-20  Wyden, Ron    Purchase   1001.0     D  130.861801
9    AAPL 2021-01-20  Wyden, Ron    Purchase   1001.0     D  130.861801
10   AAPL 2021-01-20  Wyden, Ron    Purchase   1001.0     D  130.861801
12   AAPL 2020-09-02  Wyden, Ron    Purchase  50001.0     D  130.013062
13   AAPL 2020-08-27  Wyden, Ron    Purchase  50001.0     D  123.690536
14   AAPL 2020-08-07  Wyden, Ron    Purchase  50001.0     D  109.939720
15   AAPL 2020-08-07  Wyden, Ron    Purchase  50001.0     D  109.939720
17   AAPL 2020-06-26  Wyden, Ron    Purchase  15001.0     D   87.316933
18   AAPL 2020-06-24  Wyden, Ron    Purchase  15001.0     D   88.904594
19   AAPL 2020-06-23  Wyden, Ron    Purchase  50001.0     D   90.502151
   Ticker       Date             Senator Transaction    Amount Party  \
1    AAPL 2022-02-24          Wyden, Ron        Sale   50001.0     D
2    AAPL 2022-01-18   Carper, Thomas R.        Sale    1001.0     D
3    AAPL 2021-10-29  Hickenlooper, John        Sale  250001.0     D
4    AAPL 2021-09-28   Carper, Thomas R.        Sale   15001.0     D
11   AAPL 2020-11-20   Carper, Thomas R.        Sale   50001.0     D
16   AAPL 2020-07-09   Carper, Thomas R.        Sale    1001.0     D

         Close
1   162.501251
2   169.335144
3   149.172180
4   141.315262
11  116.301781
16   94.571320

In [43]:
appl_purchase_dem_df=(senate_dem_aapl_close.groupby('Transaction').get_group('Purchase'))
appl_purchase_dem_df['Shares']= (appl_purchase_dem_df['Amount'] / appl_purchase_dem_df['Close'])
appl_purchase_dem_df = (appl_purchase_dem_df.round(2))
display(appl_purchase_dem_df)

/var/folders/5p/q66p2mt55f17r54jv5hxckb80000gn/T/ipykernel_51176/1364982995.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appl_purchase_dem_df['Shares']= (appl_purchase_dem_df['Amount'] / appl_purchase_dem_df['Close'])

   Ticker       Date     Senator Transaction   Amount Party   Close  Shares
0    AAPL 2022-02-24  Wyden, Ron    Purchase  50001.0     D  162.50  307.70
5    AAPL 2021-01-27  Wyden, Ron    Purchase   1001.0     D  140.80    7.11
6    AAPL 2021-01-27  Wyden, Ron    Purchase   1001.0     D  140.80    7.11
7    AAPL 2021-01-27  Wyden, Ron    Purchase   1001.0     D  140.80    7.11
8    AAPL 2021-01-20  Wyden, Ron    Purchase   1001.0     D  130.86    7.65
9    AAPL 2021-01-20  Wyden, Ron    Purchase   1001.0     D  130.86    7.65
10   AAPL 2021-01-20  Wyden, Ron    Purchase   1001.0     D  130.86    7.65
12   AAPL 2020-09-02  Wyden, Ron    Purchase  50001.0     D  130.01  384.58
13   AAPL 2020-08-27  Wyden, Ron    Purchase  50001.0     D  123.69  404.24
14   AAPL 2020-08-07  Wyden, Ron    Purchase  50001.0     D  109.94  454.80
15   AAPL 2020-08-07  Wyden, Ron    Purchase  50001.0     D  109.94  454.80
17   AAPL 2020-06-26  Wyden, Ron    Purchase  15001.0     D   87.32  171.80
18   AAPL 2020-06-24  Wyden, Ron    Purchase  15001.0     D   88.90  168.73
19   AAPL 2020-06-23  Wyden, Ron    Purchase  50001.0     D   90.50  552.48

In [44]:
appl_sale_dem_df=(senate_dem_aapl_close.groupby('Transaction').get_group('Sale'))
appl_sale_dem_df['Shares']= (appl_sale_dem_df['Amount'] / appl_sale_dem_df['Close'])
appl_sale_dem_df = (appl_sale_dem_df.round(2))
display(appl_sale_dem_df)

/var/folders/5p/q66p2mt55f17r54jv5hxckb80000gn/T/ipykernel_51176/1581799368.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appl_sale_dem_df['Shares']= (appl_sale_dem_df['Amount'] / appl_sale_dem_df['Close'])

,Ticker,Date,Senator,Transaction,Amount,Party,Close,Shares
1,AAPL,2022-02-24,"Wyden, Ron",Sale,50001.0,D,162.50,307.70
2,AAPL,2022-01-18,"Carper, Thomas R.",Sale,1001.0,D,169.34,5.91
3,AAPL,2021-10-29,"Hickenlooper, John",Sale,250001.0,D,149.17,1675.92
4,AAPL,2021-09-28,"Carper, Thomas R.",Sale,15001.0,D,141.32,106.15
11,AAPL,2020-11-20,"Carper, Thomas R.",Sale,50001.0,D,116.30,429.92
16,AAPL,2020-07-09,"Carper, Thomas R.",Sale,1001.0,D,94.57,10.58

In [45]:
democrat_aapl_df= pd.concat([appl_sale_dem_df,appl_purchase_dem_df])
ron_wyden_aapl_df= (democrat_aapl_df.groupby('Senator').get_group("Wyden, Ron"))
ron_wyden_aapl_df

   Ticker       Date     Senator Transaction   Amount Party   Close  Shares
1    AAPL 2022-02-24  Wyden, Ron        Sale  50001.0     D  162.50  307.70
0    AAPL 2022-02-24  Wyden, Ron    Purchase  50001.0     D  162.50  307.70
5    AAPL 2021-01-27  Wyden, Ron    Purchase   1001.0     D  140.80    7.11
6    AAPL 2021-01-27  Wyden, Ron    Purchase   1001.0     D  140.80    7.11
7    AAPL 2021-01-27  Wyden, Ron    Purchase   1001.0     D  140.80    7.11
8    AAPL 2021-01-20  Wyden, Ron    Purchase   1001.0     D  130.86    7.65
9    AAPL 2021-01-20  Wyden, Ron    Purchase   1001.0     D  130.86    7.65
10   AAPL 2021-01-20  Wyden, Ron    Purchase   1001.0     D  130.86    7.65
12   AAPL 2020-09-02  Wyden, Ron    Purchase  50001.0     D  130.01  384.58
13   AAPL 2020-08-27  Wyden, Ron    Purchase  50001.0     D  123.69  404.24
14   AAPL 2020-08-07  Wyden, Ron    Purchase  50001.0     D  109.94  454.80
15   AAPL 2020-08-07  Wyden, Ron    Purchase  50001.0     D  109.94  454.80
17   AAPL 2020-06-26  Wyden, Ron    Purchase  15001.0     D   87.32  171.80
18   AAPL 2020-06-24  Wyden, Ron    Purchase  15001.0     D   88.90  168.73
19   AAPL 2020-06-23  Wyden, Ron    Purchase  50001.0     D   90.50  552.48

In [65]:
##Selling Price - Initial Purchase Price
## Gain/Loss divide by purchase price
## mulitpy by 100 to get %change in investment
Gain_loss_amount=(ron_wyden_aapl_df.loc[1,'Close']-ron_wyden_aapl_df.loc[19,'Close'])
display(Gain_loss_amount)
Gain_lost_Pct = (Gain_loss_amount / ron_wyden_aapl_df.loc[19,'Close'])*100
Gain_lost_Pct

72.0

79.55801104972376