In [2]:
import requests
import json
import pandas as pd
import quiverquant
from datetime import datetime
import yfinance as yf

In [3]:
quiver = quiverquant.quiver("c28eacfdf71675aa0dcad7feaa75eedfff51c547")
senate_party_df = quiver.senate_trading()
senate_party_df

,Ticker,Date,Senator,Transaction,Amount,Party,Range
0,IRT,2022-05-05,"Thune, John",Sale,15001.0,,"$15,001 - $50,000"
1,PYPL,2022-04-29,"Tuberville, Tommy",Sale,50001.0,R,"$50,001 - $100,000"
2,PYPL,2022-04-28,"Tuberville, Tommy",Sale,50001.0,R,"$50,001 - $100,000"
3,PYPL,2022-04-28,"Tuberville, Tommy",Purchase,1001.0,R,"$1,001 - $15,000"
4,LMND,2022-04-22,"Hagerty, Bill",Sale,1001.0,R,"$1,001 - $15,000"
...,...,...,...,...,...,...,...
2565,GD,2020-01-04,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2566,FBHS,2020-01-03,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2567,ENTG,2020-01-02,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"
2568,FISV,2020-01-02,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2569,ENTG,2020-01-02,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"

In [4]:
senate_rep = senate_party_df[senate_party_df["Party"]=="R"]
display(senate_rep)

,Ticker,Date,Senator,Transaction,Amount,Party,Range
1,PYPL,2022-04-29,"Tuberville, Tommy",Sale,50001.0,R,"$50,001 - $100,000"
2,PYPL,2022-04-28,"Tuberville, Tommy",Sale,50001.0,R,"$50,001 - $100,000"
3,PYPL,2022-04-28,"Tuberville, Tommy",Purchase,1001.0,R,"$1,001 - $15,000"
4,LMND,2022-04-22,"Hagerty, Bill",Sale,1001.0,R,"$1,001 - $15,000"
5,ECOM,2022-04-21,"Tuberville, Tommy",Purchase,100001.0,R,"$100,001 - $250,000"
...,...,...,...,...,...,...,...
2565,GD,2020-01-04,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2566,FBHS,2020-01-03,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2567,ENTG,2020-01-02,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"
2568,FISV,2020-01-02,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2569,ENTG,2020-01-02,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"

In [5]:
senate_dem = senate_party_df[senate_party_df["Party"]=="D"]
display(senate_dem)

,Ticker,Date,Senator,Transaction,Amount,Party,Range
8,T,2022-04-08,"Rosen, Jacky",Sale,1001.0,D,"$1,001 - $15,000"
9,T,2022-04-08,"Rosen, Jacky",Sale,1001.0,D,"$1,001 - $15,000"
10,T,2022-04-08,"Rosen, Jacky",Sale,1001.0,D,"$1,001 - $15,000"
11,BDX,2022-04-01,"Rosen, Jacky",Sale,1001.0,D,"$1,001 - $15,000"
61,KWEB,2022-03-17,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"
...,...,...,...,...,...,...,...
2297,BSTZ,2020-02-22,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"
2351,ALLO,2020-02-18,"Feinstein, Dianne",Sale,1000001.0,D,"$1,000,001-$5,000,000"
2363,DLR,2020-02-13,"Whitehouse, Sheldon",Purchase,15001.0,D,"$15,001 - $50,000"
2364,WM,2020-02-13,"Whitehouse, Sheldon",Sale,15001.0,D,"$15,001 - $50,000"
2464,ALLO,2020-01-31,"Feinstein, Dianne",Sale,500001.0,D,"$500,001-$1,000,000"

In [6]:
senate_rep_aapl = senate_rep[senate_rep["Ticker"]=="AAPL"]
display(senate_rep_aapl)

,Ticker,Date,Senator,Transaction,Amount,Party,Range
79,AAPL,2022-02-24,"Capito, Shelley Moore",Sale,1001.0,R,"$1,001 - $15,000"
221,AAPL,2022-01-14,"Tuberville, Tommy",Sale,15001.0,R,"$15,001 - $50,000"
284,AAPL,2021-12-22,"Tuberville, Tommy",Sale,50001.0,R,"$50,001 - $100,000"
286,AAPL,2021-12-21,"Moran, Jerry",Sale,1001.0,R,"$1,001 - $15,000"
300,AAPL,2021-12-21,"Moran, Jerry",Sale,1001.0,R,"$1,001 - $15,000"
344,AAPL,2021-11-22,"Tuberville, Tommy",Purchase,1001.0,R,"$1,001 - $15,000"
444,AAPL,2021-08-25,"Capito, Shelley Moore",Purchase,1001.0,R,"$1,001 - $15,000"
448,AAPL,2021-08-17,"Capito, Shelley Moore",Sale,1001.0,R,"$1,001 - $15,000"
515,AAPL,2021-06-23,"Tuberville, Tommy",Sale,1001.0,R,"$1,001 - $15,000"
517,AAPL,2021-06-23,"Capito, Shelley Moore",Purchase,1001.0,R,"$1,001 - $15,000"
801,AAPL,2020-12-22,"Roberts, Pat",Purchase,15001.0,R,"$15,001 - $50,000"
809,AAPL,2020-12-16,"Roberts, Pat",Sale,100001.0,R,"$100,001 - $250,000"
907,AAPL,2020-09-17,"Roberts, Pat",Purchase,1001.0,R,"$1,001 - $15,000"
912,AAPL,2020-09-11,"Cassidy, Bill",Sale,1001.0,R,"$1,001 - $15,000"
913,AAPL,2020-09-11,"Roberts, Pat",Purchase,1001.0,R,"$1,001 - $15,000"
916,AAPL,2020-09-09,"Roberts, Pat",Purchase,15001.0,R,"$15,001 - $50,000"
917,AAPL,2020-09-09,"Roberts, Pat",Purchase,15001.0,R,"$15,001 - $50,000"
928,AAPL,2020-09-03,"Roberts, Pat",Purchase,15001.0,R,"$15,001 - $50,000"
930,AAPL,2020-09-03,"Roberts, Pat",Purchase,15001.0,R,"$15,001 - $50,000"
934,AAPL,2020-09-02,"Roberts, Pat",Purchase,50001.0,R,"$50,001 - $100,000"
937,AAPL,2020-08-27,"Roberts, Pat",Sale,50001.0,R,"$50,001 - $100,000"
939,AAPL,2020-08-27,"Toomey, Pat",Purchase,1001.0,R,"$1,001 - $15,000"
942,AAPL,2020-08-27,"Roberts, Pat",Sale,50001.0,R,"$50,001 - $100,000"
972,AAPL,2020-08-21,"Moran, Jerry",Sale,1001.0,R,"$1,001 - $15,000"
989,AAPL,2020-08-21,"Moran, Jerry",Sale,1001.0,R,"$1,001 - $15,000"
1008,AAPL,2020-08-19,"Cassidy, Bill",Sale,1001.0,R,"$1,001 - $15,000"
1022,AAPL,2020-08-19,"Cassidy, Bill",Sale,1001.0,R,"$1,001 - $15,000"
1088,AAPL,2020-08-03,"Roberts, Pat",Purchase,50001.0,R,"$50,001 - $100,000"
1097,AAPL,2020-07-31,"Roberts, Pat",Sale,50001.0,R,"$50,001 - $100,000"
1106,AAPL,2020-07-15,"Inhofe, James M.",Sale,15001.0,R,"$15,001 - $50,000"
1204,AAPL,2020-05-29,"Roberts, Pat",Purchase,15001.0,R,"$15,001 - $50,000"
1240,AAPL,2020-04-27,"Roberts, Pat",Purchase,15001.0,R,"$15,001 - $50,000"
1303,AAPL,2020-04-16,"Perdue, David",Sale,15001.0,R,"$15,001 - $50,000"
1330,AAPL,2020-04-16,"Perdue, David",Sale,15001.0,R,"$15,001 - $50,000"
1422,AAPL,2020-04-14,"Perdue, David",Sale,50001.0,R,"$50,001 - $100,000"
1458,AAPL,2020-04-14,"Perdue, David",Sale,15001.0,R,"$15,001 - $50,000"
1516,AAPL,2020-04-14,"Perdue, David",Sale,50001.0,R,"$50,001 - $100,000"
1527,AAPL,2020-04-14,"Perdue, David",Sale,15001.0,R,"$15,001 - $50,000"
1576,AAPL,2020-04-14,"Perdue, David",Sale,15001.0,R,"$15,001 - $50,000"
1599,AAPL,2020-04-14,"Perdue, David",Sale,15001.0,R,"$15,001 - $50,000"
1659,AAPL,2020-04-08,"Roberts, Pat",Purchase,1001.0,R,"$1,001 - $15,000"
1661,AAPL,2020-04-08,"Roberts, Pat",Purchase,1001.0,R,"$1,001 - $15,000"
1691,AAPL,2020-04-07,"Loeffler, Kelly",Sale,250001.0,R,"$250,001 - $500,000"
1924,AAPL,2020-03-24,"Roberts, Pat",Purchase,15001.0,R,"$15,001 - $50,000"
1955,AAPL,2020-03-20,"Roberts, Pat",Purchase,15001.0,R,"$15,001 - $50,000"
2082,AAPL,2020-03-09,"Cassidy, Bill",Sale,1001.0,R,"$1,001 - $15,000"
2100,AAPL,2020-03-06,"Roberts, Pat",Purchase,15001.0,R,"$15,001 - $50,000"
2155,AAPL,2020-03-02,"Roberts, Pat",Sale,15001.0,R,"$15,001 - $50,000"
2399,AAPL,2020-02-11,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"
2401,AAPL,2020-02-11,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"
2491,AAPL,2020-01-28,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"
2498,AAPL,2020-01-27,"Inhofe, James M.",Sale,15001.0,R,"$15,001 - $50,000"
2546,AAPL,2020-01-10,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"

In [7]:
senate_dem_aapl = senate_dem[senate_dem["Ticker"]=="AAPL"]
display(senate_dem_aapl)

,Ticker,Date,Senator,Transaction,Amount,Party,Range
80,AAPL,2022-02-24,"Wyden, Ron",Sale,50001.0,D,"$50,001 - $100,000"
81,AAPL,2022-02-24,"Wyden, Ron",Purchase,50001.0,D,"$50,001 - $100,000"
155,AAPL,2022-01-18,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"
371,AAPL,2021-10-29,"Hickenlooper, John",Sale,250001.0,D,"$250,001 - $500,000"
425,AAPL,2021-09-28,"Carper, Thomas R.",Sale,15001.0,D,"$15,001 - $50,000"
721,AAPL,2021-01-27,"Wyden, Ron",Purchase,1001.0,D,"$1,001 - $15,000"
728,AAPL,2021-01-27,"Wyden, Ron",Purchase,1001.0,D,"$1,001 - $15,000"
731,AAPL,2021-01-27,"Wyden, Ron",Purchase,1001.0,D,"$1,001 - $15,000"
742,AAPL,2021-01-20,"Wyden, Ron",Purchase,1001.0,D,"$1,001 - $15,000"
743,AAPL,2021-01-20,"Wyden, Ron",Purchase,1001.0,D,"$1,001 - $15,000"
744,AAPL,2021-01-20,"Wyden, Ron",Purchase,1001.0,D,"$1,001 - $15,000"
828,AAPL,2020-11-20,"Carper, Thomas R.",Sale,50001.0,D,"$50,001 - $100,000"
933,AAPL,2020-09-02,"Wyden, Ron",Purchase,50001.0,D,"$50,001 - $100,000"
941,AAPL,2020-08-27,"Wyden, Ron",Purchase,50001.0,D,"$50,001 - $100,000"
1058,AAPL,2020-08-07,"Wyden, Ron",Purchase,50001.0,D,"$50,001 - $100,000"
1059,AAPL,2020-08-07,"Wyden, Ron",Purchase,50001.0,D,"$50,001 - $100,000"
1118,AAPL,2020-07-09,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"
1150,AAPL,2020-06-26,"Wyden, Ron",Purchase,15001.0,D,"$15,001 - $50,000"
1160,AAPL,2020-06-24,"Wyden, Ron",Purchase,15001.0,D,"$15,001 - $50,000"
1168,AAPL,2020-06-23,"Wyden, Ron",Purchase,50001.0,D,"$50,001 - $100,000"

In [8]:
senate_dd = senate_party_df[senate_party_df["Ticker"]=="DD"]
display(senate_dd)

,Ticker,Date,Senator,Transaction,Amount,Party,Range
709,DD,2021-02-05,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"
710,DD,2021-02-05,"Carper, Thomas R.",Purchase,1001.0,D,"$1,001 - $15,000"
718,DD,2021-01-27,"Carper, Thomas R.",Sale,15001.0,D,"$15,001 - $50,000"
794,DD,2020-12-30,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"
823,DD,2020-11-20,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"
1296,DD,2020-04-16,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"
1346,DD,2020-04-16,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"
1484,DD,2020-04-14,"Loeffler, Kelly",Sale,15001.0,R,"$15,001 - $50,000"
1530,DD,2020-04-14,"Perdue, David",Sale,50001.0,R,"$50,001 - $100,000"
1596,DD,2020-04-14,"Perdue, David",Sale,50001.0,R,"$50,001 - $100,000"
1764,DD,2020-04-07,"Loeffler, Kelly",Sale,100001.0,R,"$100,001 - $250,000"
1765,DD,2020-04-07,"Loeffler, Kelly",Purchase,15001.0,R,"$15,001 - $50,000"
1766,DD,2020-04-07,"Loeffler, Kelly",Purchase,15001.0,R,"$15,001 - $50,000"
2061,DD,2020-03-10,"Loeffler, Kelly",Purchase,1001.0,R,"$1,001 - $15,000"
2063,DD,2020-03-09,"Loeffler, Kelly",Purchase,1001.0,R,"$1,001 - $15,000"
2137,DD,2020-03-03,"Loeffler, Kelly",Purchase,50001.0,R,"$50,001 - $100,000"
2147,DD,2020-03-02,"Loeffler, Kelly",Purchase,15001.0,R,"$15,001 - $50,000"
2150,DD,2020-03-02,"Loeffler, Kelly",Purchase,50001.0,R,"$50,001 - $100,000"
2151,DD,2020-03-02,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2159,DD,2020-02-28,"Loeffler, Kelly",Purchase,15001.0,R,"$15,001 - $50,000"
2161,DD,2020-02-28,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2162,DD,2020-02-28,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2165,DD,2020-02-28,"Loeffler, Kelly",Purchase,100001.0,R,"$100,001 - $250,000"
2175,DD,2020-02-28,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2176,DD,2020-02-28,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2184,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2187,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2189,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2193,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2194,DD,2020-02-27,"Loeffler, Kelly",Purchase,100001.0,R,"$100,001 - $250,000"
2196,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2200,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2211,DD,2020-02-26,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2213,DD,2020-02-26,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2234,DD,2020-02-26,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2236,DD,2020-02-26,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2306,DD,2020-02-21,"Loeffler, Kelly",Sale,1001.0,R,"$1,001 - $15,000"
2310,DD,2020-02-21,"Loeffler, Kelly",Sale,1001.0,R,"$1,001 - $15,000"
2503,DD,2020-01-24,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2506,DD,2020-01-24,"Perdue, David",Purchase,15001.0,R,"$15,001 - $50,000"

In [9]:
senate_dem_dd= senate_dd[senate_dd["Party"]=="D"]
display(senate_dem_dd)

,Ticker,Date,Senator,Transaction,Amount,Party,Range
709,DD,2021-02-05,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"
710,DD,2021-02-05,"Carper, Thomas R.",Purchase,1001.0,D,"$1,001 - $15,000"
718,DD,2021-01-27,"Carper, Thomas R.",Sale,15001.0,D,"$15,001 - $50,000"
794,DD,2020-12-30,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"
823,DD,2020-11-20,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"

In [10]:
senate_rep_dd= senate_dd[senate_dd["Party"]=="R"]
display(senate_rep_dd)

,Ticker,Date,Senator,Transaction,Amount,Party,Range
1296,DD,2020-04-16,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"
1346,DD,2020-04-16,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"
1484,DD,2020-04-14,"Loeffler, Kelly",Sale,15001.0,R,"$15,001 - $50,000"
1530,DD,2020-04-14,"Perdue, David",Sale,50001.0,R,"$50,001 - $100,000"
1596,DD,2020-04-14,"Perdue, David",Sale,50001.0,R,"$50,001 - $100,000"
1764,DD,2020-04-07,"Loeffler, Kelly",Sale,100001.0,R,"$100,001 - $250,000"
1765,DD,2020-04-07,"Loeffler, Kelly",Purchase,15001.0,R,"$15,001 - $50,000"
1766,DD,2020-04-07,"Loeffler, Kelly",Purchase,15001.0,R,"$15,001 - $50,000"
2061,DD,2020-03-10,"Loeffler, Kelly",Purchase,1001.0,R,"$1,001 - $15,000"
2063,DD,2020-03-09,"Loeffler, Kelly",Purchase,1001.0,R,"$1,001 - $15,000"
2137,DD,2020-03-03,"Loeffler, Kelly",Purchase,50001.0,R,"$50,001 - $100,000"
2147,DD,2020-03-02,"Loeffler, Kelly",Purchase,15001.0,R,"$15,001 - $50,000"
2150,DD,2020-03-02,"Loeffler, Kelly",Purchase,50001.0,R,"$50,001 - $100,000"
2151,DD,2020-03-02,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2159,DD,2020-02-28,"Loeffler, Kelly",Purchase,15001.0,R,"$15,001 - $50,000"
2161,DD,2020-02-28,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2162,DD,2020-02-28,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2165,DD,2020-02-28,"Loeffler, Kelly",Purchase,100001.0,R,"$100,001 - $250,000"
2175,DD,2020-02-28,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2176,DD,2020-02-28,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2184,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2187,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2189,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2193,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2194,DD,2020-02-27,"Loeffler, Kelly",Purchase,100001.0,R,"$100,001 - $250,000"
2196,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2200,DD,2020-02-27,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2211,DD,2020-02-26,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2213,DD,2020-02-26,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2234,DD,2020-02-26,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2236,DD,2020-02-26,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2306,DD,2020-02-21,"Loeffler, Kelly",Sale,1001.0,R,"$1,001 - $15,000"
2310,DD,2020-02-21,"Loeffler, Kelly",Sale,1001.0,R,"$1,001 - $15,000"
2503,DD,2020-01-24,"Perdue, David",Purchase,1001.0,R,"$1,001 - $15,000"
2506,DD,2020-01-24,"Perdue, David",Purchase,15001.0,R,"$15,001 - $50,000"

In [11]:
senate_gme = senate_party_df[senate_party_df["Ticker"]=="GME"]
display(senate_gme)

    Ticker       Date      Senator Transaction  Amount Party             Range
717    GME 2021-01-28  Toomey, Pat        Sale  1001.0     R  $1,001 - $15,000
725    GME 2021-01-27  Toomey, Pat    Purchase  1001.0     R  $1,001 - $15,000